@use "./variables" as v;

@use "../views/Root/Root";
@use "../views/Home/Home";
@use "../components/Features/Features.scss";

html {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: map-get(v.$colors, "dark-blue");
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
}

.bg-dark {
    background-color: map-get(v.$colors, "black");
}