@use "./variables" as v;

@use "../views/Root/Root";
@use "../views/Home/Home";
@use "../views/Login/Login";
@use "../views/Profile/profile";

@use "../components/Features/Features";
@use "../components/Account/Account";
@use "../components/UpdateForm/UpdateForm";

html {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: map-get(v.$colors, "dark-blue");
    height: 100vh;
}

body {
    margin: 0;
    height: 100vh;
}

.main {
    height: 100%;
    overflow: hidden;
    flex: 1;
}

.bg-dark {
    background-color: map-get(v.$colors, "black");
}

ul {
    margin: 0;
    padding: 0;
}